* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.banner-inner, 
.header-inner, 
.footer-inner {
    max-width: 1000px;
    margin: 0 auto;    
}

#banner {
    background: rgba(25,25,25,1);
    color: white;
    padding: 15px 0;
}

#banner .banner-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#banner span a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

header, footer {
    background: rgba(50,50,50,1);
    color: white;
    padding: 30px 0;
    text-align: center;
}
